<h1> <%= t(".heading") %> </h1>

<p>
  <%= t(".body") %>
</p>

<br>

<div class="center">
  <%# We’re using the route helper which generates the full URL to the resource  %>
  <%# rather than just the path. For this to work, Piazza’s domain name needs to be  %>
  <%# configured in Action Mailer. This needs to be done for all three  %>
  <%# environments. %>
  <%= link_to t(".button"), 
              edit_users_password_reset_url(@password_reset_token), 
              class: "button" %>
</div>